flask
flask-cors
werkzeug
cohere
langchain
langchain_google_genai
langchain_cohere
langchain_huggingface
pinecone
google-generativeai
python-dotenv
pytesseract
Pillow
tensorflow
keras
transformers
lime
shap
matplotlib
seaborn
scikit-learn
pandas
numpy
pdf2image
openai-whisper
python-pptx
spacy==3.7.4
beautifulsoup4
google-api-python-client
youtube-transcript-api
moviepy<2.0.0
pymupdf
